// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
    background-color: #24AFE0;

    .fas {
        color: white;
    }

    .nav-link {
        color: white;
    }

    .dropdown-menu {
        min-width: 40px;
        width: 120px;
        height: 30px;
    }
}

.fa-plus-circle{
    font-size: 25px;
}

//tablefilter custom
caption {
    caption-side: top;
}


fieldset {
    min-width: 2px;
    padding: 5px 10px 9px 10px;
    margin: 5px 0px 5px 0px;
    border: 2px solid #6c757d;
}

legend {
    display: block;
    max-width: 100%;
    padding: 2px;
    margin-bottom: 0.5rem;
    font-size: 18px;
    line-height: inherit;
    color: inherit;
    white-space: normal;
  }
