// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
    background-color: #24AFE0;

    .fas {
        color: white;
    }

    .nav-link {
        color: white;
    }
}

.fa-plus-circle{
    font-size: 25px;
}

//tablefilter custom
caption {
    caption-side: top;
}

.exit_item{
    &:hover a{
        color:red;
    }
}

.button_register{
    background-color:transparent;
    &:hover .span_register{
        color:#428bca;
        cursor: pointer;
    }
    &:hover .icon_register{
        color:#428bca;
        cursor: pointer;
    }
    .span_register{
        color:#24AFE0;
    }

    .icon_register{
        color:#24AFE0;
    }
}